allow logpersist self:capability { dac_override dac_read_search };
allow logpersist cache_file:dir { read search };
allow logpersist cache_file:dir { add_name open write };
allow logpersist cache_file:file { getattr open };


