binder_call(system_app, storaged)
binder_call(system_app, system_suspend)
allow system_app system_suspend:binder call;
allow untrusted_app adbd_prop:file open;
